.boddy {
    background-color: gray;
}

.loginHeader{
    text-align: center;
    color: black;
    font-family:'Times New Roman';
    font-size: 40px;
}

.loginForm{
    text-align: center;
}

.accountBody{
    background-color: #F96167;
}

.hellonameheading{
    text-align: center;
    background-color: #FCE77D;
}

.transactions{
    text-align: center;
    border: 1px solid black;
}